@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');

/* navbar */

.navbar-brand {
    font-size: 1rem;
}
.nav-link {
    font-size: 1rem;
}
.dropdown-item {
    font-size: 1rem;
}
.container {
    justify-content: center;
} 
.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}
.content {
    padding: 16px;
}
.sticky + .content {
    padding-top: 40px;
}
.navbar-logo-p-tag{
    padding-top: 5px;
}

.navbar-login-user {
    padding-right: 5px;
    display: none;
}

.navbar_logout_btn {
    display: none;
}

/* jumbotron */
.jumbotron {
    background-image: url("../../images/banner.jpg");
    background-size: cover;
    color: #dbdbdb;    
}

.index-jumbotron-h1 {
    font-size: 3.5vw;
    text-align: center;
}

.index-jumbotron-p {
    font-size: 1.5vw;
    text-align: center;
}

.index-jumbotron-hr {
    border-color: white;
}

.jumbotron-channel-col {
    justify-content: center;
    display: flex;        
}

.btn-jumbotron-sangdam {
    font-size: 0.7vw;
    border-color: white;
    color: white;
    margin-right: 1vw;
}

.btn-jumbotron-kakao {
    font-size: 0.7vw;
    border-color: yellow;
    color: yellow;
    margin-left: 1vw;
    margin-right: 1vw;
}

.btn-jumbotron-telegram {
    font-size: 0.7vw;
    border-color: rgb(68, 200, 249);
    color: rgb(68, 200, 249);
    margin-left: 1vw;
}

/* Footer */

.container-kakaomap{
    justify-content: center;
    display: flex;
}

.footer-link {
    color: white;
}

a.footer-link:hover {
    color: rgb(152, 148, 148);
}

.footer-col-info {
    padding-top: 3.5vw;
    font-size: 0.8vw;
    justify-content: center;
    display: flex;
}
.footer-hr {
    border-color: white;
}

.footer-logo {
    justify-content: center;
    display: flex;
    margin-bottom: 2vw;
}

.footer-phr{
    color: white;
    font-size: 0.7vw;
}

.footer-col-about {
    font-size: 0.8vw;
    justify-content: center;
    display: flex;
}

/* css for sticky footer in base.html*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}




#footer .inner {
    border-top: 1px solid #dbdbdb;
    padding-top: 3em;
}

#footer .copyright {
    color: #bbb;
    font-size: 0.8em;
    margin: 0 0 2em 0;
    padding: 0;
}

    #footer .copyright a {
        color: #bbb;
        text-decoration: none;
    }

        #footer .copyright a:hover {
            color: #bbb;
            text-decoration: underline;
        }

#footer ul.icons li .icon {
    font-size: 0.58em;
}

@media screen and (max-width: 736px) {

    #footer .inner {
        padding-top: 2em;
    }

    #footer .copyright {
        -ms-flex-order: 2;
        -moz-order: 2;
        -webkit-order: 2;
        -ms-order: 2;
        order: 2;
    }

    #footer ul {
        -ms-flex-order: 1;
        -moz-order: 1;
        -webkit-order: 1;
        -ms-order: 1;
        order: 1;
    }

    #footer .flex {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }

/* login css */

.container-login {    
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
}
.form-signin {    
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;    
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: ;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* lawyer.html */

.profile-span {
	margin-left: 0em;
	font-weight: bold;
	font-size: 1.5vw;
}


