@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* navbar */

.navbar-brand {
    font-size: 1rem;
}
.nav-link {
    font-size: 1rem;
}
.dropdown-item {
    font-size: 1rem;
}
.container {
    justify-content: center;
} 
.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}
.content {
    padding: 16px;
}
.sticky + .content {
    padding-top: 40px;
}
.navbar-logo-p-tag{
    padding-top: 5px;
    font-size: 1rem;
}

.navbar-login-user {
    padding-right: 5px;
    display: none;
}

.navbar_logout_btn {
    display: none;
}

#navbar-login-username {
    border: 0.5px solid black;
    padding: 12px;
    margin-right: 20px;
    border-radius: 5px;
    background-color: rgb(154, 233, 154);
    opacity: 0.7;    
}

/* jumbotron */
.jumbotron {
    background-image: url("../../images/banner.jpg");
    background-size: cover;
    color: #dbdbdb;    
}

.index-jumbotron-h1 {
    font-size: 3vw;
    text-align: center;
    margin: 0.5vw;
}

.index-jumbotron-p {
    font-size: 1.5vw;
    text-align: center;
    margin: 0.5vw;
    line-height: 1.2em;
}

.index-jumbotron-hr {
    border-color: white;
}

.jumbotron-channel-col {
    justify-content: center;
    display: flex;        
}

.btn-jumbotron-sangdam {
    font-size: 0.7vw;
    border-color: white;
    color: white;
    margin-right: 1vw;
}

.btn-jumbotron-kakao {
    font-size: 0.7vw;
    border-color: yellow;
    color: yellow;
    margin-left: 1vw;
    margin-right: 1vw;
}

.btn-jumbotron-telegram {
    font-size: 0.7vw;
    border-color: rgb(68, 200, 249);
    color: rgb(68, 200, 249);
    margin-left: 1vw;
}

/* Footer */

.container-kakaomap{
    justify-content: center;
    display: flex;
}

.footer-link {
    color: white;
    font-size: .8vw;
}

a.footer-link:hover {
    color: rgb(152, 148, 148);
}

.footer-col-info {
    padding-top: 3.5vw;
    font-size: 0.8vw;
    justify-content: center;
    display: flex;
}
.footer-hr {
    border-color: white;
}

.footer-logo {
    justify-content: center;
    display: flex;
    margin-bottom: 2vw;
}

.footer-phr{
    color: white;
    font-size: 0.6vw;
}

.footer-col-about {
    font-size: 0.8vw;
    justify-content: center;
    display: flex;
}

/* css for sticky footer in base.html*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

/* login css */

.container-login {    
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
}
.form-signin {    
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;    
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* lawyer.html */

.profile-span {
	margin-left: 0em;
	font-weight: bold;
	font-size: 1.5vw;
}

/* blog sidebar */

.blog-sidebar-menu {
    font-size: 1vw;
}

.blog-sidebar-summary {
    margin-left: 0.15rem;
}