{% extends 'base.html' %}

{% block script_one %}
<script>
  $(document).ready(function(){						            
    load_blog_posting2()    
  });       

  function load_blog_posting() {    
    $.ajax({
    type : 'GET',
    url : '/blog/get_posting',        
    data : {},
    success : function(response) {
        if (response['result'] == 'success') {
          let articles = response['articles'];     
          console.log(articles)               
          for (let i=0; i<articles.length; i++) {
            make_blog(articles[i]['author'],articles[i]['created_time'],articles[i]['tag'],articles[i]['title'],articles[i]['body'])    
          }            
        } else {
          alert('포스팅을 받아오지 못했습니다')
        }
      }     
    })
  }    
  
  function make_blog(author, created_time, tag, title, body) {
    let temp_html = `<div class="container mt-2 mb-2 blog_info">
      <p>
        <span id="blog_author">${author}</span>
        <span id="blog_created_time"></span>
        # <span id="blog_tag"></span> 
      </p>

      <p id="blog_author">${created_time}</p>
      <p id="blog_tag">${tag}</p>
    </div>
    <div class="container blog_title">
      <p id="blog_title">${title}</p>
    </div>
    <div class="container blog_body">
      <p id="blog_body">${body}</p>
    </div>`;		          
      console.log(temp_html)
    $('#blog_posting').append(temp_html);
  }    

  function posting() {
      $.ajax({
      type : 'GET',
      url : '/blog/get_post',
      headers : {'token_give' : getCookie('mytoken')},
      data : {},
      success : function(response) {
          if (response['result'] == 'success') {
          document.getElementById("login_userinfo").innerHTML=response['username'];												
          } 
      }     
      })
  }
  
  function logout(){
      setCookie('mytoken', "");
      alert('로그아웃!')
      window.location.href='/auth/login'
  }        
</script>
{% endblock %}

{% block body_content %}

<div class="container-fluid blog-main-container">
  <div class="col-* mt-2 mb-4">
      <div class="card mb-3" style="max-width: 100%;">
          <div class="row no-gutters">
            <div class="col-md-8">
              <a href="{{ url_for('blog.blog_post_1') }}"><img src="{{ url_for('static', filename='images/blog_main_img_audit.png') }}" class="card-img" alt="블로그 메인 포스팅"></a>
            </div>
            <div class="col-md-4">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
      </div>
  </div>
  <hr>
  <div class="col-* mt-2 mb-4">
      <div class="container-fluid card-deck">
          <div class="col-md-4 card card-deck-component">
            <img src="{{ url_for('static', filename='images/blog_main_img_audit.png') }}" class="card-img-top" alt="[회계장부열람등사가처분 - 01] 대표이사의 횡령배임에 대한 대응으로 주주나 사원의 회계장부열람등사가처분의 필요성">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="col-md-4 card card-deck-component">
            <img src="{{ url_for('static', filename='images/blog_body_img_deposit.jpg') }}" class="card-img-top" alt="[승소사례] 사망한 임차인으로부터 임대차보증금을 양도받은 의뢰인(피고)에게 임차인의 상속인(원고)이 제기한 공탁금출급청구권 확인소송에서 승소한 사례">
            <h5 class="card-title">Card title</h5>
              <div class="card-body">
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="col-md-4 card card-deck-component">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
      </div>
    </div>
</div>


  

{% endblock %}
