{% extends 'base.html' %}

{% block script_one %}
<script>
  $(document).ready(function(){						            
    load_blog_posting2()    
  });       

  function load_blog_posting() {    
    $.ajax({
    type : 'GET',
    url : '/blog/get_posting',        
    data : {},
    success : function(response) {
        if (response['result'] == 'success') {
          let articles = response['articles'];     
          console.log(articles)               
          for (let i=0; i<articles.length; i++) {
            make_blog(articles[i]['author'],articles[i]['created_time'],articles[i]['tag'],articles[i]['title'],articles[i]['body'])    
          }            
        } else {
          alert('포스팅을 받아오지 못했습니다')
        }
      }     
    })
  }    
  
  function make_blog(author, created_time, tag, title, body) {
    let temp_html = `<div class="container mt-2 mb-2 blog_info">
      <p>
        <span id="blog_author">${author}</span>
        <span id="blog_created_time"></span>
        # <span id="blog_tag"></span> 
      </p>

      <p id="blog_author">${created_time}</p>
      <p id="blog_tag">${tag}</p>
    </div>
    <div class="container blog_title">
      <p id="blog_title">${title}</p>
    </div>
    <div class="container blog_body">
      <p id="blog_body">${body}</p>
    </div>`;		          
      console.log(temp_html)
    $('#blog_posting').append(temp_html);
  }    

  function posting() {
      $.ajax({
      type : 'GET',
      url : '/blog/get_post',
      headers : {'token_give' : getCookie('mytoken')},
      data : {},
      success : function(response) {
          if (response['result'] == 'success') {
          document.getElementById("login_userinfo").innerHTML=response['username'];												
          } 
      }     
      })
  }
  
  function logout(){
      setCookie('mytoken', "");
      alert('로그아웃!')
      window.location.href='/auth/login'
  }        
</script>
{% endblock %}

{% block body_content %}

<div class="container-fluid">  
  <div class="row mt-4r">
    <div class="col-md-3 border-right">
      <div class="row">
        <div class="container mb-2 mt-2">
          <p class="blog-sidebar-menu">카테고리</p>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <ul>
            <li class="blog-sidebar-menu mb-2">
              민사소송
            </li>
            <li>
              <details class="blog-sidebar-summary">
                <summary class="blog-sidebar-menu mb-2 blog-sidebar-summary">
                  보전처분
                </summary>
                <ul>
                  <li class="blog-sidebar-menu mb-2">
                    <a href="#" style="margin-left: 1.35rem">부동산 가압류</a>                    
                  </li>
                  <li class="blog-sidebar-menu">
                    <a href="#" style="margin-left: 1.35rem">채권 가압류</a>                    
                  </li>
                  <li>
                    <hr style="margin: 0.3rem">
                  </li>
                  <li class="blog-sidebar-menu mb-2">
                    <a href="#" style="margin-left: 1.35rem">가처분</a>
                  </li>
                </ul>    
              </details> 
            </li>
            <li class="blog-sidebar-menu mb-2">
                형사소송
            </li>
            <li>
              <details class="blog-sidebar-summary">
                <summary class="blog-sidebar-menu mb-2 blog-sidebar-summary">
                  보전처분
                </summary>
                <ul>
                  <li class="blog-sidebar-menu mb-2">
                    <a href="#" style="margin-left: 1.35rem">부동산 가압류</a>                    
                  </li>
                  <li class="blog-sidebar-menu">
                    <a href="#" style="margin-left: 1.35rem">채권 가압류</a>                    
                  </li>
                  <li>
                    <hr style="margin: 0.3rem">
                  </li>
                  <li class="blog-sidebar-menu mb-2">
                    <a href="#" style="margin-left: 1.35rem">가처분</a>
                  </li>
                </ul>    
              </details> 
            </li>
          </ul>        
        </div> 
      </div>
    </div>
    <div id="blog_posting" class="col-md-9">
      <div class="conatainer-fluid mt-2 mb-2 blog-posted-article">
        <div class="container blog_title">          
          <p id="blog_title">사망한 임차인으로부터 임대차보증금을 양도받은 의뢰인(피고)에게 임차인의 상속인(원고)이 제기한 공탁금출급청구권 확인소송에서 승소한 사례</p>
        </div>        
        <div class="container mt-2 mb-2">
          <span class="blog_info">
            <span id="blog_author" class="blog_author">천호성</span> |
            <span id="blog_created_time" class="blog_created_time">2019. 10. 20.</span> |
            <span class="blog_tag">#<span id="blog_tag">승소사례</span></span>
          </span>          
        </div>
        <hr>      
        <div class="container blog_body">
          <iframe class="blog_googledocs_embed" src="https://docs.google.com/document/d/e/2PACX-1vQnlZJfAQwGNheWVGJdl5ycvkAwaxAAK03feSmAt7U_T1_AprysbFiS4onDMbJvOlZrmNdqf9CEYeF6/pub?embedded=true"></iframe>          
        </div>      
      </div>      
    </div>
  </div>
  

  

{% endblock %}
