{% extends 'base.html' %}

{% block script %}

<script>
  $(document).ready(function(){						        
      load_blog_posting()
  });       
  
  function load_blog_posting() {
    alert("tlqkf")
    $.ajax({
    type : 'GET',
    url : '/blog/get_posting',        
    data : {},
    success : function(response) {
        if (response['result'] == 'success') {
          let articles = response['articles'];                    
          for (let i=0; i<articles.length; i++) {
            make_blog(articles[i]['author'],articles[i]['created_time'],articles[i]['tag'],articles[i]['title'],articles[i]['body'])    
          }            
        } else {
          alert('포스팅을 받아오지 못했습니다')
        }
      }     
    })
  }    
  
  function make_blog(author, created_time, tag, title, body) {
    let temp_html = `<div class="container blog_info">
      <p id="blog_created_time">${author}</p>
      <p id="blog_author">${created_time}</p>
      <p id="blog_tag">${tag}</p>
    </div>
    <div class="container blog_title">
      <p id="blog_title">${title}</p>
    </div>
    <div class="container blog_body">
      <p id="blog_body">${body}</p>
    </div>`;		          
      console.log(temp_html)
    $('#blog_posting').append(temp_html);
  }    

  function posting() {
      $.ajax({
      type : 'GET',
      url : '/blog/get_post',
      headers : {'token_give' : getCookie('mytoken')},
      data : {},
      success : function(response) {
          if (response['result'] == 'success') {
          document.getElementById("login_userinfo").innerHTML=response['username'];												
          } 
      }     
      })
  }
  
  function logout(){
      setCookie('mytoken', "");
      alert('로그아웃!')
      window.location.href='/auth/login'
  }        
</script>
{% endblock %}

{% block body_content %}

<div class="container-fluid">  
  <div class="row mt-4r">
    <div class="col-md-3 border-right">
      <div class="row">
        <div class="container mb-2 mt-2">
          <p class="blog-sidebar-menu">카테고리</p>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <ul>
            <li class="blog-sidebar-menu mb-2">
              민사소송
            </li>
            <li>
              <details class="blog-sidebar-summary">
                <summary class="blog-sidebar-menu mb-2 blog-sidebar-summary">
                  보전처분
                </summary>
                <ul>
                  <li class="blog-sidebar-menu mb-2">
                    <a href="#" style="margin-left: 1.35rem">부동산 가압류</a>                    
                  </li>
                  <li class="blog-sidebar-menu">
                    <a href="#" style="margin-left: 1.35rem">채권 가압류</a>                    
                  </li>
                  <li>
                    <hr style="margin: 0.3rem">
                  </li>
                  <li class="blog-sidebar-menu mb-2">
                    <a href="#" style="margin-left: 1.35rem">가처분</a>
                  </li>
                </ul>    
              </details> 
            </li>
            <li class="blog-sidebar-menu mb-2">
                형사소송
            </li>
            <li>
              <details class="blog-sidebar-summary">
                <summary class="blog-sidebar-menu mb-2 blog-sidebar-summary">
                  보전처분
                </summary>
                <ul>
                  <li class="blog-sidebar-menu mb-2">
                    <a href="#" style="margin-left: 1.35rem">부동산 가압류</a>                    
                  </li>
                  <li class="blog-sidebar-menu">
                    <a href="#" style="margin-left: 1.35rem">채권 가압류</a>                    
                  </li>
                  <li>
                    <hr style="margin: 0.3rem">
                  </li>
                  <li class="blog-sidebar-menu mb-2">
                    <a href="#" style="margin-left: 1.35rem">가처분</a>
                  </li>
                </ul>    
              </details> 
            </li>
          </ul>        
        </div> 
      </div>
    </div>
    <div id="blog_posting" class="col-md-9">
      <div class="container blog_info">
        <p id="blog_created_time"></p>
        <p id="blog_author"></p>
        <p id="blog_tag"></p>
      </div>
      <div class="container blog_title">
        <p id="blog_title"></p>
      </div>
      <div class="container blog_body">
        <p id="blog_body"></p>
      </div>      
    </div>
  </div>
  

  

{% endblock %}
