{% extends 'base.html' %}

{% block script %}

		<script>
			function signin() {
				let email = $('#inputEmail').val();
				let password = $('#inputPassword').val();
				console.log(name,email,password)
				$.ajax({
					type: "POST",
					url: "/auth/login",
					data: {					
						email_give : email,
						password_give : password},
					success: function(response){
						if(response['result'] == 'success'){
              setCookie('mytoken', response['token']);                          
              alert('로그인 성공')
              window.location.href = '/'
            }	else {
              alert(response['msg'])
            }									
				}})
			}	
		</script>

{% endblock %}

{% block body_content %}
			
		<!-- Banner -->
		<section id="banner">
			<h1>LAWFIRM TERRA</h1>
			<p>Technical Evidence acquiRe for your Right Advocating</p>
		</section>
			
		<!-- login section -->
			<div class="container">			  				  
        <div class="login d-flex align-items-center py-5 loginMainDiv">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">로그인</h3>		                        
                  <div class="form-label-group">
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                    <label for="inputEmail">Email address</label>
                  </div>
                  <div class="form-label-group">
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <label for="inputPassword">Password</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Remember password</label>							  	
                  </div>			                
                  <div class="text-center">
                    <a class="small" href="#">Forgot password?</a>
                  </div>
                    <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" onclick="signin()">Sign In</button> 
                    <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" onclick="location.href='{{ url_for('auth.register') }}'">Sign Up</button>                         
                  </div>																				                  
              </div>
            </div>
          </div>
        </div>			    
      </div> 
{% endblock %}
		