{% extends 'base.html' %}

{% block script %}	

{% endblock %}

{% block body_content %}

<!-- Banner -->
<section id="banner">
	<h1>LAWFIRM TERRA</h1>
	<p>Technical Evidence acquiRe for your Right Advocating</p>
</section>

<!-- One -->
	<section id="one" class="wrapper">
		<div class="inner">
			<div class="flex flex-3">
				<article>
					<header>
						<h3>Discovery Evidence!</h3>
					</header>
					<p>소송의 승패는 얼마나 유리한 증거를 찾느냐에 달려있습니다. 각 사건에 맞는 유리한 증거를 찾기 위한 최선의 방법을 제공합니다</p>
					<footer>
						<a href="#" class="button special">More</a>
					</footer>
				</article>
				<article>
					<header>
						<h3>Depend Your Right!</h3>
					</header>
					<p>수집된 증거를 통해 여러분의 권리를 스스로 지켜야 합니다.</p>
					<footer>
						<a href="#" class="button special">More</a>
					</footer>
				</article>
				<article>
					<header>
						<h3>By LAWFRIM TERRA</h3>
					</header>
					<p>법무법인 테라가 있습니다.</p>
					<footer>
						<a href="#" class="button special">More</a>
					</footer>
				</article>
			</div>
		</div>
	</section>

<!-- Two -->
	<section id="two" class="wrapper style1 special">
		<div class="inner">
			<header>
				<h2>OUR LAWYER</h2>
				<p>저희 법인의 변호사들을 소개합니다.</p>
			</header>
			<div class="flex flex-2">
				<article>
					<div class="image fit round">
						<img src="{{ url_for('static', filename='images/profile_jinu01.jpeg') }}" alt="Pic 01" />
					</div>
					<header>
						<h3>박진우 대표변호사</h3>
					</header>
					<p>jinu0720@naver.com</p>
					<footer>
						<a href="#" class="button special">More</a>
					</footer>
				</article>
				<article>
					<div class="image fit round">
						<img src="{{ url_for('static', filename='images/profile_hoseong01.jpg') }}" alt="Pic 02" />
					</div>
					<header>
						<h3>천호성 대표변호사</h3>
					</header>
					<p>cjsghtjdsla@gmail.com</p>
					<footer>
						<a href="#" class="button special">More</a>
					</footer>
				</article>
			</div>			
		</div>
	</section> 

<!-- Three -->
	<section id="three" class="wrapper special">
		<div class="inner">
			<header class="align-center">
				<h2>LAWFIRM TERRA STORY</h2>
				<p>Aliquam erat volutpat nam dui </p>
			</header>
			<div class="flex flex-2">
				<article>
					<div class="image fit">
						<img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt="Pic 01" />
					</div>
					<header>
						<h3>Praesent placerat magna</h3>
					</header>
					<p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor lorem ipsum.</p>
					<footer>
						<a href="#" class="button special">More</a>
					</footer>
				</article>
				<article>
					<div class="image fit">
						<img src="{{ url_for('static', filename='images/pic02.jpg') }}" alt="Pic 02" />
					</div>
					<header>
						<h3>Fusce pellentesque tempus</h3>
					</header>
					<p>Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna non comodo sodales tempus.</p>
					<footer>
						<a href="#" class="button special">More</a>
					</footer>
				</article>
			</div>
		</div>
	</section>

{% endblock %} 

		

