{% extends 'base.html' %}

{% block script %}

    <script>
        function searchlaw() {
            let input_text = $('#inputSearch').val();                        
            $.ajax({
                type: "POST",
                url: "/auth/login",
                data : {					
                    email_give : email,
                    password_give : password},
                success: function(response){
                    if(response['result']=='success'){
            window.location.href = '/'
        }										
            }})
        }	
    </script>

{% endblock %}

{% block body_content %}

<!-- Banner -->
<section id="banner">
    <div class="form-label-group">
        <input type="text" id="inputSearch" class="form-control" placeholder="판례&법령 검색하세요" required>        
        <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" onclick="signin()">Find It</button> 
    </div>	    
</section>																				                  

{% endblock %}
