    <!-- kakao map -->
    <div class="container-fluid container-kakaomap">            
        <div id="daumRoughmapContainer1572583382810" class="root_daum_roughmap root_daum_roughmap_landing"></div>
        <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>
        <script charset="UTF-8">
            new daum.roughmap.Lander({
                "timestamp" : "1572583382810",
                "key" : "vo6s",
                "mapWidth" : "640",
                "mapHeight" : "360"
            }).render();
        </script>
    </div>


    <!-- laywer.html에서 변경하기 전의 카드 포맷-->

    <div class="container-fluid content">
            <div class="card mb-3" style="max-width: 100%;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img id="profile_img_hoseong" src="{{ url_for('static', filename='images/profile_hoseong01.jpg') }}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h1 class="card-title">천호성 대표변호사</h1>
                            <p class="card-text">안녕하세요 천호성 변호사입니다. 다양한 증거수집을 통해 최선의 소송 솔루션을 제공하겠습니다</p><hr>
                            <table class="table table-lawyer-profile">
                                <thead>
                                    <tr>
                                        <th style="background-color: rgb(56, 55, 55);color: white"><i class="fas fa-user-graduate"></i> 학 력</th>
                                    </tr>						
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="profile-span">서울시립대학교 컴퓨터과학부 학사</td>								
                                    </tr>
                                    <tr>
                                        <td class="profile-span">경희대학교 법학전문대학원 석사</td>								
                                    </tr>						
                                </tbody>
                                <thead>
                                    <tr>
                                        <th style="background-color: rgb(56, 55, 55);color: white"><i class="far fa-id-badge"></i> 경 력</th>
                                    </tr>						
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="profile-span">법무법인 이래</td>								
                                    </tr>
                                    <tr>
                                        <td class="profile-span">변호사 천호성 법률사무소</td>								
                                    </tr>						
                                    <tr>
                                        <td class="profile-span">더불어민주당 제20대 국회의원선거 선거대책위원회 법률지원단 자문위원</td>								
                                    </tr>						
                                    <tr>
                                        <td class="profile-span">최순실등민간인에의한국정농단의혹사건규명을위한 특별검사 특별수사관</td>								
                                    </tr>	
                                    <tr>
                                        <td class="profile-span">더불어민주당 김진표(수원무) 국회의원 비서관</td>								
                                    </tr>						
                                    <tr>
                                        <td class="profile-span">대법원 국선변호인</td>								
                                    </tr>						
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>	
        </div>

        <!-- blog jumbbotron-->
        <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
                <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
                <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
            </div>
        </div>

        <!-- grim 실험-->
<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <p>xs-12</p>
    </div>
    <div class="col--8">
      <p>xs-34</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p>sm-12</p>
    </div>
    <div class="col-sm-8">
      <p>sm-34</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>md-12</p>
    </div>
    <div class="col-md-8">
      <p>md-34</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>lg-12</p>
    </div>
    <div class="col-lg-8">
      <p>lg-34</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4">
      <p>xl-12</p>
    </div>
    <div class="col-xl-8">
      <p>xl-34</p>
    </div>
  </div>
</div>
