{% extends 'base.html' %}

{% block script_one %}
{% endblock %}

{% block body_content %}

<div>
  <div class="blog-hero flex-center">
    <div class="blog-hero-message">
      <p class="blog-hero-title-tag"># 회계장부열람등사가처분</p>
      <p class="blog-hero-title">대표이사의 횡령배임에 대한 대응으로 주주나 사원의 회계장부열람등사가처분의 필요성</p><br>
      <p class="blog-hero-subtitle">
          <span style="font-size: 14px;">천호성 변호성</span><br />
          <span style="font-size: 12px;">2019. 10. 26.</span>
      </p><br>
      <a class="blog-hero-subtitle" style="font-size: 0.8vw;" href="https://blog.naver.com/cjsghtjdsla/221691917775">네이버 블로그에서 보기</a>
    </div>    
  </div>  
  <div class="not-blog-hero flex-center">
      <div class="container-fluid">
        <p>
          <span>
            상대적으로 규모가 영세한 비상장회사들의 내부적인 지분구조를 보면, 대표이사 개인이나 그 가족들이 모든 지분을 소유한 1인회사나 사실상의 1인회사인 경우가 있지만, 동업자들과 지분을 나누어 소유하고 있는 동업 회사의 경우도 쉽게 볼 수 있습니다.
          </span><br /><br />
          <span>
            이런 동업회사의 경우, 동업자들끼리 갈등이 없다면 아무런 문제가 없겠지만, 인간의 욕심은 끝이 없어, 어느 한쪽이 욕심을 부리게 되면, 갈등은 쉽사리 피할 수 없게 됩니다.
          </span><br /><br />                                        
          <span>
            그리고 이런 갈등의 원인이야 다분히 감정적인 이유부터 경제적인 이유까지 다양하겠지만, 많은 경우 회사의 실권을 쥐고 있는 대표이사가 횡령배임하여 회사에 손해를 끼치고 개인적인 이익을 취하는 문제로부터 발생하고, 동업자는 대표이사의 횡령이나 배임에 대한 확정적인 증거를 확보하지 못하고 의심만 할뿐인 양상으로 나타나기 마련입니다.
          </span><br /><br />                    
          <span>
              그 이유는 횡령과 배임의 시작은 동업자의 감시와 견제를 차단하는 것에서부터 시작하기 때문이고, 회사 내부의 회계자료 등에 대한 접근권이 차단된 동업자는 도대체 회사가 돈을 얼마나 벌고 어디에 지출을 하는지, 내가 배당받을 돈이 제대로 계산이 되고 있는지 등에 대하여 제대로 알 수 없는 상황을 맞이하게 됩니다.
          </span><br /><br />                      
          <span>
              이러한 일은 횡령배임의 의심을 사고 있는 대표이사의 지분비율이 대표이사 변경을 막기에 충분한 경우에 주로 발생하는데, 만약 그렇지 않다면 이사회나 주주총회를 통해 대표이사를 변경시켜버리면 그만일 것입니다.
          </span><br /><br />  
          <span>
              결국, 대표이사가 횡령배임 등으로 회사에 손해를 끼치고 있는 것으로 의심은되나, 명확한 증거가 부족하고, 대표이사를 변경할만한 지분도 보유하고 있지 못한 동업자들로서는 문제의 대표이사가 스스로 반성하고 잘못을 시정하지 않는 이상은(보통 죄를 저지른 대표이사는 더욱 당당하기 마련이라 현실에서는 극히 찾아보기 어려운 경우입니다) 대표이사의 법령 위반 내지는 정관 위반행위를 밝혀 회사를 상대로 이사 및 대표이사 해임의 소를 제기할 수밖에 없습니다.
          </span><br /><br />  ​
          <span>
              이 경우, 상법 제466조에 따르면 발행주식 총수의 3% 이상의 주식을 가진 주주는 이유를 붙인 서면으로 회계장부와 서류의 열람등사를 청구할 수 있고, 회사는 주주의 청구가 부당함을 증명하지 아니하면 이를 거부할 수 없다고 할 것입니다.                
          </span><br /><br />
          <div class="container-fluid blog-post-overay">
            <img class="blog-post-img" src="https://postfiles.pstatic.net/MjAxOTEwMjZfMTk4/MDAxNTcyMDIxNzIwMDY4.czqU82kPBV2JI3vZ13733TCwpNxObOxhfpFWCuGzz18g.2SCO_gZ4m6u9BtpdHy6W_dbjEBn41MUDyzb--cKrYLAg.JPEG.cjsghtjdsla/1572021719669.jpg?type=w773" />
            <div class="blog-post-overay-btm">
              <div class="blog-post-img-caption">
                상법 제466조
              </div>
            </div><br />
          </div>          
          <span>
              이러한 주주 내지 사원의 회계장부열람등사권을 피보전권리로 하여 회계장부열람등사가처분 신청을 할 수 있는데, 이는 만족적 가처분에 해당하여 통상의 가처분에 비해 보전의 필요성에 대한 보다 높은 정도의 소명을 요구하고 있습니다.
          </span><br /><br />  ​
          <span>
              결론적으로 회계장부열람가처분을 신청하는 시점까지 대표이사의 횡령배임과 같은 법령위반 행위 내지 정관 위배행위에 대한 증거를 최대한 확보하고, 이를 근거로 보전의 필요성을 최대한 구체적으로 소명하여, 최대한 많은 회계장부 및 서류 등에 대한 가처분 인용을 받는 것이 중요합니다. 그래야 뒤따르는 대표이사에 대한 해임의 소송이나 형사고소 사건에서도 좋은 결과를 기대할 수 있을 것입니다.
          </span><br /><br />  ​
        </p>
      </div>
</div>
</div>


  

{% endblock %}
